
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
$primary-color: black;
$secondary-color: white;
$tertiary-color: grey;
$fourth-color: rgba(44, 58, 165, 0.786);
$fifth-color: rgb(29, 38, 108);
$sixth-color: rgb(99, 113, 217);
$seventh-color: rgba(20, 142, 20, 0.801);

$font-body: 'Orbitron', sans-serif;
